@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');

body {
    background-color: #a8d4e8;
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
    color: var(--bs-secondary-color);
    text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
    text-align: start;
}

.navbar {
    background-color: #4B4E6D !important;
    padding-top: 0.6rem;
    padding-bottom: 0.6rem;
}

.navbar .nav-link, .navbar-brand {
        color: white !important;
    }

.navbar-brand {
    font-family: 'Dancing Script', cursive !important;
    font-size: 22px;
}

.navbar .nav-link {
    font-size: 0.95rem;
    padding-left: 1.2rem !important;
    padding-right: 1.2rem !important;
}

.navbar .nav-link:hover {
        color: #84DCC6 !important;
    }

.navbar .nav-link.active {
        color: #84DCC6 !important;
        border-bottom: 2px solid #84DCC6;
    }

.navbar {
    position: relative;
}

.navbar-nav.position-absolute {
    left: 50% !important;
    transform: translateX(-50%);
}
